<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>680</integer>
    <key>capHeight</key>
    <integer>630</integer>
    <key>copyright</key>
    <string>Copyright 2019 PhantomFoundry</string>
    <key>descender</key>
    <integer>-175</integer>
    <key>familyName</key>
    <string>Circled</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>zvDchuiFKc</string>
        <key>x</key>
        <integer>41</integer>
        <key>y</key>
        <integer>-190</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>t0xQW1beV3</string>
        <key>x</key>
        <integer>412</integer>
        <key>y</key>
        <integer>524</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>pPLPYcD137</string>
        <key>x</key>
        <integer>-217</integer>
        <key>y</key>
        <integer>725</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>s0FXIwNiqu</string>
        <key>x</key>
        <integer>171</integer>
        <key>y</key>
        <integer>803</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>wWMIZ6DQ4N</string>
        <key>x</key>
        <integer>-157</integer>
        <key>y</key>
        <integer>320</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHheaAscender</key>
    <integer>850</integer>
    <key>openTypeHheaDescender</key>
    <integer>-250</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameCompatibleFullName</key>
    <string>Circled Regular</string>
    <key>openTypeNameDesigner</key>
    <string>Jean-Baptiste Morizot</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://phantom-foundry.com</string>
    <key>openTypeNameLicense</key>
    <string>Phantom Sans is a trademark of PhantomFoundry</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://phantom-foundry.com</string>
    <key>openTypeNameManufacturer</key>
    <string>PhantomFoundry</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://phantom-foundry.com</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Circled</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeNameVersion</key>
    <string>1</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>4</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>750</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>100</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>PHTM</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>850</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>250</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-15</integer>
      <integer>0</integer>
      <integer>440</integer>
      <integer>455</integer>
      <integer>630</integer>
      <integer>645</integer>
      <integer>680</integer>
      <integer>695</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>Circled-Regular</string>
    <key>postscriptFullName</key>
    <string>CircledRegular</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-190</integer>
      <integer>-175</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>140</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>155</integer>
    </array>
    <key>postscriptWeightName</key>
    <string>Bold</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>The figures comes from Phantom Sans. Phantom Sans is a trademark of PhantomFoundry</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>6</integer>
    <key>xHeight</key>
    <integer>440</integer>
    <key>year</key>
    <integer>2019</integer>
  </dict>
</plist>
