<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A_left</key>
    <array/>
    <key>public.kern1.C_left</key>
    <array/>
    <key>public.kern1.D_left</key>
    <array/>
    <key>public.kern1.E_left</key>
    <array/>
    <key>public.kern1.G_left</key>
    <array/>
    <key>public.kern1.J_left</key>
    <array/>
    <key>public.kern1.L_left</key>
    <array/>
    <key>public.kern1.O_left</key>
    <array/>
    <key>public.kern1.R_left</key>
    <array/>
    <key>public.kern1.S_left</key>
    <array/>
    <key>public.kern1.T_left</key>
    <array/>
    <key>public.kern1.U_left</key>
    <array/>
    <key>public.kern1.W_left</key>
    <array/>
    <key>public.kern1.Y_left</key>
    <array/>
    <key>public.kern1.Z_left</key>
    <array/>
    <key>public.kern1.caron</key>
    <array/>
    <key>public.kern2.A_right</key>
    <array/>
    <key>public.kern2.C_right</key>
    <array/>
    <key>public.kern2.G_right</key>
    <array/>
    <key>public.kern2.J_right</key>
    <array/>
    <key>public.kern2.O_right</key>
    <array/>
    <key>public.kern2.S_right</key>
    <array/>
    <key>public.kern2.T_right</key>
    <array/>
    <key>public.kern2.U_right</key>
    <array/>
    <key>public.kern2.W_right</key>
    <array/>
    <key>public.kern2.Y_right</key>
    <array/>
    <key>public.kern2.Z_right</key>
    <array/>
    <key>public.kern2.a.alt_right</key>
    <array/>
    <key>public.kern2.a_right</key>
    <array/>
    <key>public.kern2.ascendant_lc</key>
    <array/>
    <key>public.kern2.c_right</key>
    <array/>
    <key>public.kern2.e_right</key>
    <array/>
    <key>public.kern2.g_right</key>
    <array/>
    <key>public.kern2.i_right</key>
    <array/>
    <key>public.kern2.o_lc</key>
    <array/>
    <key>public.kern2.s_right</key>
    <array/>
    <key>public.kern2.stem_lc_right</key>
    <array/>
    <key>public.kern2.w_right</key>
    <array/>
    <key>public.kern2.y_right</key>
    <array/>
    <key>public.kern2.z_right</key>
    <array/>
  </dict>
</plist>
