<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A_left</key>
    <dict>
      <key>public.kern2.C_right</key>
      <integer>-35</integer>
      <key>public.kern2.G_right</key>
      <integer>-35</integer>
      <key>public.kern2.J_right</key>
      <integer>-10</integer>
      <key>public.kern2.O_right</key>
      <integer>-35</integer>
      <key>public.kern2.S_right</key>
      <integer>-20</integer>
      <key>public.kern2.T_right</key>
      <integer>-70</integer>
      <key>public.kern2.U_right</key>
      <integer>-30</integer>
      <key>public.kern2.W_right</key>
      <integer>-80</integer>
      <key>public.kern2.Y_right</key>
      <integer>-100</integer>
      <key>public.kern2.a_right</key>
      <integer>-10</integer>
      <key>public.kern2.c_right</key>
      <integer>-10</integer>
      <key>public.kern2.e_right</key>
      <integer>-10</integer>
      <key>public.kern2.g_right</key>
      <integer>-5</integer>
      <key>public.kern2.o_lc</key>
      <integer>-10</integer>
      <key>public.kern2.s_right</key>
      <integer>-10</integer>
      <key>public.kern2.stem_lc_right</key>
      <integer>-5</integer>
      <key>public.kern2.w_right</key>
      <integer>-35</integer>
      <key>public.kern2.y_right</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.C_left</key>
    <dict>
      <key>public.kern2.A_right</key>
      <integer>-35</integer>
      <key>public.kern2.T_right</key>
      <integer>-20</integer>
      <key>public.kern2.W_right</key>
      <integer>-10</integer>
      <key>public.kern2.Y_right</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.D_left</key>
    <dict>
      <key>public.kern2.A_right</key>
      <integer>-25</integer>
      <key>public.kern2.T_right</key>
      <integer>-20</integer>
      <key>public.kern2.W_right</key>
      <integer>-25</integer>
      <key>public.kern2.Y_right</key>
      <integer>-40</integer>
      <key>public.kern2.Z_right</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.G_left</key>
    <dict>
      <key>public.kern2.A_right</key>
      <integer>-35</integer>
      <key>public.kern2.T_right</key>
      <integer>-20</integer>
      <key>public.kern2.W_right</key>
      <integer>-20</integer>
      <key>public.kern2.Y_right</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.J_left</key>
    <dict>
      <key>public.kern2.A_right</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.L_left</key>
    <dict>
      <key>public.kern2.T_right</key>
      <integer>-80</integer>
      <key>public.kern2.W_right</key>
      <integer>-40</integer>
      <key>public.kern2.Y_right</key>
      <integer>-50</integer>
      <key>public.kern2.w_right</key>
      <integer>-20</integer>
      <key>public.kern2.y_right</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.O_left</key>
    <dict>
      <key>public.kern2.A_right</key>
      <integer>-35</integer>
      <key>public.kern2.T_right</key>
      <integer>-20</integer>
      <key>public.kern2.W_right</key>
      <integer>-30</integer>
      <key>public.kern2.Y_right</key>
      <integer>-40</integer>
      <key>public.kern2.Z_right</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.R_left</key>
    <dict>
      <key>public.kern2.A_right</key>
      <integer>-40</integer>
      <key>public.kern2.J_right</key>
      <integer>-40</integer>
      <key>public.kern2.O_right</key>
      <integer>-10</integer>
      <key>public.kern2.W_right</key>
      <integer>-30</integer>
      <key>public.kern2.Y_right</key>
      <integer>-30</integer>
      <key>public.kern2.a_right</key>
      <integer>-10</integer>
      <key>public.kern2.c_right</key>
      <integer>-20</integer>
      <key>public.kern2.e_right</key>
      <integer>-20</integer>
      <key>public.kern2.g_right</key>
      <integer>-10</integer>
      <key>public.kern2.o_lc</key>
      <integer>-20</integer>
      <key>public.kern2.s_right</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.S_left</key>
    <dict>
      <key>public.kern2.A_right</key>
      <integer>-20</integer>
      <key>public.kern2.T_right</key>
      <integer>-15</integer>
      <key>public.kern2.W_right</key>
      <integer>-15</integer>
      <key>public.kern2.Y_right</key>
      <integer>-20</integer>
      <key>public.kern2.w_right</key>
      <integer>-10</integer>
      <key>public.kern2.y_right</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.T_left</key>
    <dict>
      <key>public.kern2.A_right</key>
      <integer>-70</integer>
      <key>public.kern2.C_right</key>
      <integer>-10</integer>
      <key>public.kern2.G_right</key>
      <integer>-20</integer>
      <key>public.kern2.J_right</key>
      <integer>-110</integer>
      <key>public.kern2.O_right</key>
      <integer>-20</integer>
      <key>public.kern2.S_right</key>
      <integer>-15</integer>
      <key>public.kern2.a.alt_right</key>
      <integer>-120</integer>
      <key>public.kern2.a_right</key>
      <integer>-110</integer>
      <key>public.kern2.c_right</key>
      <integer>-110</integer>
      <key>public.kern2.e_right</key>
      <integer>-120</integer>
      <key>public.kern2.g_right</key>
      <integer>-110</integer>
      <key>public.kern2.o_lc</key>
      <integer>-120</integer>
      <key>public.kern2.s_right</key>
      <integer>-110</integer>
      <key>public.kern2.stem_lc_right</key>
      <integer>-100</integer>
      <key>public.kern2.w_right</key>
      <integer>-105</integer>
      <key>public.kern2.y_right</key>
      <integer>-110</integer>
      <key>public.kern2.z_right</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.U_left</key>
    <dict>
      <key>public.kern2.A_right</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.W_left</key>
    <dict>
      <key>public.kern2.A_right</key>
      <integer>-80</integer>
      <key>public.kern2.C_right</key>
      <integer>-10</integer>
      <key>public.kern2.G_right</key>
      <integer>-20</integer>
      <key>public.kern2.J_right</key>
      <integer>-60</integer>
      <key>public.kern2.O_right</key>
      <integer>-30</integer>
      <key>public.kern2.S_right</key>
      <integer>-15</integer>
      <key>public.kern2.W_right</key>
      <integer>-20</integer>
      <key>public.kern2.a.alt_right</key>
      <integer>-60</integer>
      <key>public.kern2.a_right</key>
      <integer>-40</integer>
      <key>public.kern2.c_right</key>
      <integer>-50</integer>
      <key>public.kern2.e_right</key>
      <integer>-50</integer>
      <key>public.kern2.g_right</key>
      <integer>-40</integer>
      <key>public.kern2.o_lc</key>
      <integer>-50</integer>
      <key>public.kern2.s_right</key>
      <integer>-50</integer>
      <key>public.kern2.stem_lc_right</key>
      <integer>-30</integer>
      <key>public.kern2.w_right</key>
      <integer>-20</integer>
      <key>public.kern2.z_right</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Y_left</key>
    <dict>
      <key>public.kern2.A_right</key>
      <integer>-120</integer>
      <key>public.kern2.C_right</key>
      <integer>-50</integer>
      <key>public.kern2.G_right</key>
      <integer>-50</integer>
      <key>public.kern2.J_right</key>
      <integer>-150</integer>
      <key>public.kern2.O_right</key>
      <integer>-60</integer>
      <key>public.kern2.S_right</key>
      <integer>-50</integer>
      <key>public.kern2.a_right</key>
      <integer>-120</integer>
      <key>public.kern2.c_right</key>
      <integer>-130</integer>
      <key>public.kern2.e_right</key>
      <integer>-130</integer>
      <key>public.kern2.o_lc</key>
      <integer>-130</integer>
      <key>public.kern2.s_right</key>
      <integer>-120</integer>
      <key>public.kern2.stem_lc_right</key>
      <integer>-90</integer>
      <key>public.kern2.w_right</key>
      <integer>-90</integer>
      <key>public.kern2.y_right</key>
      <integer>-90</integer>
      <key>public.kern2.z_right</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.Z_left</key>
    <dict>
      <key>public.kern2.O_right</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.caron</key>
    <dict>
      <key>public.kern2.ascendant_lc</key>
      <integer>155</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>six</key>
      <integer>-60</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>seven</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
