<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>black.spacer.listPresetSpacing</key>
    <array/>
    <key>com.loicsander.scaleFast</key>
    <dict>
      <key>guides</key>
      <array/>
      <key>presets</key>
      <dict/>
    </dict>
    <key>com.typemytype.robofont.2.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>1.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.3.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>0.25</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.alt.layerShow</key>
    <false/>
    <key>com.typemytype.robofont.alt.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>0.25</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.background.layerShow</key>
    <false/>
    <key>com.typemytype.robofont.background.layerStrokeColor</key>
    <array>
      <real>0.501960813999176</real>
      <real>1.0</real>
      <real>0.0</real>
      <real>1.0</real>
    </array>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.foreground.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <real>0.0</real>
      <real>0.5</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.guideline.magnetic.pPLPYcD137</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.s0FXIwNiqu</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.t0xQW1beV3</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.wWMIZ6DQ4N</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.zvDchuiFKc</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.mask.layerShow</key>
    <true/>
    <key>com.typemytype.robofont.mask.layerStrokeColor</key>
    <array>
      <real>1.0</real>
      <real>0.75</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>com.typesupply.MetricsMachine4.groupColors</key>
    <dict>
      <key>@MMK_L_A_left</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_C_left</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_D_left</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_E_left</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_G_left</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_J_left</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_L_left</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_O_left</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_R_left</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_S_left</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_T_left</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_U_left</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_W_left</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_Y_left</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_Z_left</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_caron</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_A_right</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_C_right</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_G_right</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_J_right</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_O_right</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_S_right</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_T_right</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_U_right</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_W_right</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_Y_right</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_Z_right</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_a.alt_right</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_a_right</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_ascendant_lc</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_c_right</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_e_right</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_g_right</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_i_right</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_o_lc</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_s_right</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_stem_lc_right</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_w_right</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_y_right</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_z_right</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
    </dict>
    <key>com.typesupply.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>.notdef</string>
          <string>.null</string>
          <string>CR</string>
          <string>space</string>
          <string>uni00A0</string>
          <string>A</string>
          <string>B</string>
          <string>C</string>
          <string>D</string>
          <string>E</string>
          <string>F</string>
          <string>G</string>
          <string>H</string>
          <string>I</string>
          <string>J</string>
          <string>K</string>
          <string>L</string>
          <string>M</string>
          <string>N</string>
          <string>O</string>
          <string>P</string>
          <string>Q</string>
          <string>R</string>
          <string>S</string>
          <string>T</string>
          <string>U</string>
          <string>V</string>
          <string>W</string>
          <string>X</string>
          <string>Y</string>
          <string>Z</string>
          <string>AE</string>
          <string>OE</string>
          <string>Lslash</string>
          <string>Oslash</string>
          <string>Eth</string>
          <string>Thorn</string>
          <string>a</string>
          <string>a.alt</string>
          <string>b</string>
          <string>c</string>
          <string>d</string>
          <string>e</string>
          <string>e.alt</string>
          <string>f</string>
          <string>g</string>
          <string>h</string>
          <string>i</string>
          <string>j</string>
          <string>k</string>
          <string>l</string>
          <string>m</string>
          <string>n</string>
          <string>o</string>
          <string>p</string>
          <string>q</string>
          <string>r</string>
          <string>s</string>
          <string>t</string>
          <string>u</string>
          <string>v</string>
          <string>w</string>
          <string>x</string>
          <string>y</string>
          <string>z</string>
          <string>ae</string>
          <string>oe</string>
          <string>lslash</string>
          <string>oslash</string>
          <string>eth</string>
          <string>thorn</string>
          <string>germandbls</string>
          <string>dotlessi</string>
          <string>dotlessj</string>
          <string>fi</string>
          <string>fl</string>
          <string>Aacute</string>
          <string>Acircumflex</string>
          <string>Adieresis</string>
          <string>Agrave</string>
          <string>Aring</string>
          <string>Atilde</string>
          <string>Abreve</string>
          <string>Amacron</string>
          <string>Aogonek</string>
          <string>Ccedilla</string>
          <string>Cacute</string>
          <string>Ccaron</string>
          <string>Ccircumflex</string>
          <string>Cdotaccent</string>
          <string>Dcaron</string>
          <string>Dcroat</string>
          <string>Eacute</string>
          <string>Ecircumflex</string>
          <string>Edieresis</string>
          <string>Egrave</string>
          <string>Ebreve</string>
          <string>Ecaron</string>
          <string>Edotaccent</string>
          <string>Emacron</string>
          <string>Eogonek</string>
          <string>Gbreve</string>
          <string>Gcircumflex</string>
          <string>Gcommaaccent</string>
          <string>Gdotaccent</string>
          <string>Hbar</string>
          <string>Hcircumflex</string>
          <string>Iacute</string>
          <string>Icircumflex</string>
          <string>Idieresis</string>
          <string>Igrave</string>
          <string>Ibreve</string>
          <string>Idotaccent</string>
          <string>Imacron</string>
          <string>Iogonek</string>
          <string>Itilde</string>
          <string>IJ</string>
          <string>Jcircumflex</string>
          <string>Kcommaaccent</string>
          <string>Lacute</string>
          <string>Lcaron</string>
          <string>Lcommaaccent</string>
          <string>Ldot</string>
          <string>Ntilde</string>
          <string>Nacute</string>
          <string>Ncaron</string>
          <string>Ncommaaccent</string>
          <string>Oacute</string>
          <string>Ocircumflex</string>
          <string>Odieresis</string>
          <string>Ograve</string>
          <string>Otilde</string>
          <string>Obreve</string>
          <string>Ohungarumlaut</string>
          <string>Omacron</string>
          <string>Racute</string>
          <string>Rcaron</string>
          <string>Rcommaaccent</string>
          <string>Scaron</string>
          <string>Sacute</string>
          <string>Scedilla</string>
          <string>Scircumflex</string>
          <string>uni0218</string>
          <string>Tbar</string>
          <string>Tcaron</string>
          <string>uni0162</string>
          <string>uni021A</string>
          <string>Uacute</string>
          <string>Ucircumflex</string>
          <string>Udieresis</string>
          <string>Ugrave</string>
          <string>Ubreve</string>
          <string>Uhungarumlaut</string>
          <string>Umacron</string>
          <string>Uogonek</string>
          <string>Uring</string>
          <string>Utilde</string>
          <string>Wacute</string>
          <string>Wcircumflex</string>
          <string>Wdieresis</string>
          <string>Wgrave</string>
          <string>Yacute</string>
          <string>Ydieresis</string>
          <string>Ycircumflex</string>
          <string>Ygrave</string>
          <string>Zcaron</string>
          <string>Zacute</string>
          <string>Zdotaccent</string>
          <string>aacute</string>
          <string>acircumflex</string>
          <string>adieresis</string>
          <string>agrave</string>
          <string>aring</string>
          <string>atilde</string>
          <string>abreve</string>
          <string>amacron</string>
          <string>aogonek</string>
          <string>aacute.alt</string>
          <string>acircumflex.alt</string>
          <string>adieresis.alt</string>
          <string>agrave.alt</string>
          <string>aring.alt</string>
          <string>atilde.alt</string>
          <string>abreve.alt</string>
          <string>amacron.alt</string>
          <string>aogonek.alt</string>
          <string>ccedilla</string>
          <string>cacute</string>
          <string>ccaron</string>
          <string>ccircumflex</string>
          <string>cdotaccent</string>
          <string>dcaron</string>
          <string>dcroat</string>
          <string>eacute</string>
          <string>ecircumflex</string>
          <string>edieresis</string>
          <string>egrave</string>
          <string>ebreve</string>
          <string>ecaron</string>
          <string>edotaccent</string>
          <string>emacron</string>
          <string>eogonek</string>
          <string>eacute.alt</string>
          <string>egrave.alt</string>
          <string>ebreve.alt</string>
          <string>ecircumflex.alt</string>
          <string>edieresis.alt</string>
          <string>ecaron.alt</string>
          <string>edotaccent.alt</string>
          <string>emacron.alt</string>
          <string>eogonek.alt</string>
          <string>gbreve</string>
          <string>gcircumflex</string>
          <string>gcommaaccent</string>
          <string>gdotaccent</string>
          <string>hbar</string>
          <string>hcircumflex</string>
          <string>iacute</string>
          <string>icircumflex</string>
          <string>idieresis</string>
          <string>igrave</string>
          <string>ibreve</string>
          <string>i.dot</string>
          <string>imacron</string>
          <string>iogonek</string>
          <string>itilde</string>
          <string>ij</string>
          <string>jcircumflex</string>
          <string>kcommaaccent</string>
          <string>lacute</string>
          <string>lcaron</string>
          <string>lcommaaccent</string>
          <string>ldot</string>
          <string>ntilde</string>
          <string>nacute</string>
          <string>ncaron</string>
          <string>ncommaaccent</string>
          <string>oacute</string>
          <string>ocircumflex</string>
          <string>odieresis</string>
          <string>ograve</string>
          <string>otilde</string>
          <string>obreve</string>
          <string>ohungarumlaut</string>
          <string>omacron</string>
          <string>racute</string>
          <string>rcaron</string>
          <string>rcommaaccent</string>
          <string>scaron</string>
          <string>sacute</string>
          <string>scedilla</string>
          <string>scircumflex</string>
          <string>uni0219</string>
          <string>tbar</string>
          <string>tcaron</string>
          <string>uni0163</string>
          <string>uni021B</string>
          <string>uacute</string>
          <string>ucircumflex</string>
          <string>udieresis</string>
          <string>ugrave</string>
          <string>ubreve</string>
          <string>uhungarumlaut</string>
          <string>umacron</string>
          <string>uogonek</string>
          <string>uring</string>
          <string>utilde</string>
          <string>wacute</string>
          <string>wcircumflex</string>
          <string>wdieresis</string>
          <string>wgrave</string>
          <string>yacute</string>
          <string>ydieresis</string>
          <string>ycircumflex</string>
          <string>ygrave</string>
          <string>zcaron</string>
          <string>zacute</string>
          <string>zdotaccent</string>
          <string>acute</string>
          <string>grave</string>
          <string>circumflex</string>
          <string>caron</string>
          <string>tilde</string>
          <string>dieresis</string>
          <string>ring</string>
          <string>cedilla</string>
          <string>hungarumlaut</string>
          <string>breve</string>
          <string>macron</string>
          <string>dotaccent</string>
          <string>periodcentered</string>
          <string>ogonek</string>
          <string>commaaccent</string>
          <string>caron.alt</string>
          <string>revcommaaccent</string>
          <string>acute.cap</string>
          <string>grave.cap</string>
          <string>circumflex.cap</string>
          <string>caron.cap</string>
          <string>tilde.cap</string>
          <string>dieresis.cap</string>
          <string>ring.cap</string>
          <string>cedilla.cap</string>
          <string>hungarumlaut.cap</string>
          <string>breve.cap</string>
          <string>macron.cap</string>
          <string>dotaccent.cap</string>
          <string>ogonek.cap</string>
          <string>commaaccent.cap</string>
          <string>caron.alt.cap</string>
          <string>period</string>
          <string>comma</string>
          <string>colon</string>
          <string>semicolon</string>
          <string>ellipsis</string>
          <string>question</string>
          <string>exclam</string>
          <string>questiondown</string>
          <string>exclamdown</string>
          <string>parenleft</string>
          <string>parenright</string>
          <string>braceleft</string>
          <string>braceright</string>
          <string>bracketleft</string>
          <string>bracketright</string>
          <string>slash</string>
          <string>backslash</string>
          <string>underscore</string>
          <string>hyphen</string>
          <string>uni00AD</string>
          <string>endash</string>
          <string>emdash</string>
          <string>brokenbar</string>
          <string>bar</string>
          <string>guillemotleft</string>
          <string>guillemotright</string>
          <string>guilsinglleft</string>
          <string>guilsinglright</string>
          <string>quotesinglbase</string>
          <string>quotedblbase</string>
          <string>quoteleft</string>
          <string>quotedblleft</string>
          <string>quoteright</string>
          <string>quotedblright</string>
          <string>quotesingle</string>
          <string>quotedbl</string>
          <string>bullet</string>
          <string>ampersand</string>
          <string>paragraph</string>
          <string>dagger</string>
          <string>daggerdbl</string>
          <string>section</string>
          <string>asterisk</string>
          <string>trademark</string>
          <string>registered</string>
          <string>copyright</string>
          <string>uni24C5</string>
          <string>at</string>
          <string>ordfeminine</string>
          <string>ordmasculine</string>
          <string>numbersign</string>
          <string>Euro</string>
          <string>dollar</string>
          <string>yen</string>
          <string>sterling</string>
          <string>cent</string>
          <string>florin</string>
          <string>currency</string>
          <string>zero</string>
          <string>one</string>
          <string>two</string>
          <string>three</string>
          <string>four</string>
          <string>five</string>
          <string>six</string>
          <string>seven</string>
          <string>eight</string>
          <string>nine</string>
          <string>zero.osf</string>
          <string>one.osf</string>
          <string>two.osf</string>
          <string>three.osf</string>
          <string>four.osf</string>
          <string>five.osf</string>
          <string>six.osf</string>
          <string>seven.osf</string>
          <string>eight.osf</string>
          <string>nine.osf</string>
          <string>degree</string>
          <string>percent</string>
          <string>perthousand</string>
          <string>fraction</string>
          <string>uni2215</string>
          <string>zerosuperior</string>
          <string>onesuperior</string>
          <string>twosuperior</string>
          <string>threesuperior</string>
          <string>foursuperior</string>
          <string>fivesuperior</string>
          <string>sixsuperior</string>
          <string>sevensuperior</string>
          <string>eightsuperior</string>
          <string>ninesuperior</string>
          <string>plus</string>
          <string>minus</string>
          <string>multiply</string>
          <string>divide</string>
          <string>equal</string>
          <string>logicalnot</string>
          <string>asciitilde</string>
          <string>less</string>
          <string>greater</string>
          <string>plusminus</string>
          <string>asciicircum</string>
          <string>notequal</string>
          <string>approxequal</string>
          <string>lessequal</string>
          <string>greaterequal</string>
          <string>infinity</string>
          <string>lozenge</string>
          <string>radical</string>
          <string>integral</string>
          <string>partialdiff</string>
          <string>product</string>
          <string>pi</string>
          <string>mu</string>
          <string>summation</string>
          <string>Omega</string>
          <string>uni03A9</string>
          <string>increment</string>
          <string>Delta</string>
          <string>uni2113</string>
          <string>estimated</string>
          <string>parenleft.case</string>
          <string>parenright.case</string>
          <string>bracketleft.case</string>
          <string>bracketright.case</string>
          <string>braceleft.case</string>
          <string>braceright.case</string>
          <string>guillemotleft.case</string>
          <string>guillemotright.case</string>
          <string>guilsinglleft.case</string>
          <string>guilsinglright.case</string>
          <string>exclamdown.case</string>
          <string>questiondown.case</string>
          <string>at.case</string>
          <string>hyphen.case</string>
          <string>endash.case</string>
          <string>emdash.case</string>
          <string>zero.circled</string>
          <string>one.circled</string>
          <string>two.circled</string>
          <string>three.circled</string>
          <string>four.circled</string>
          <string>five.circled</string>
          <string>six.circled</string>
          <string>seven.circled</string>
          <string>eight.circled</string>
          <string>nine.circled</string>
          <string>zero.start</string>
          <string>one.start</string>
          <string>two.start</string>
          <string>three.start</string>
          <string>four.start</string>
          <string>five.start</string>
          <string>six.start</string>
          <string>seven.start</string>
          <string>eight.start</string>
          <string>nine.start</string>
          <string>zero.mid</string>
          <string>one.mid</string>
          <string>two.mid</string>
          <string>three.mid</string>
          <string>four.mid</string>
          <string>five.mid</string>
          <string>six.mid</string>
          <string>seven.mid</string>
          <string>eight.mid</string>
          <string>nine.mid</string>
          <string>zero.end</string>
          <string>one.end</string>
          <string>two.end</string>
          <string>three.end</string>
          <string>four.end</string>
          <string>five.end</string>
          <string>six.end</string>
          <string>seven.end</string>
          <string>eight.end</string>
          <string>nine.end</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>com.typesupply.metricsMachine4.groupColors</key>
    <dict/>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>.null</string>
      <string>CR</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zerosuperior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>zero.circled</string>
      <string>one.circled</string>
      <string>two.circled</string>
      <string>three.circled</string>
      <string>four.circled</string>
      <string>five.circled</string>
      <string>six.circled</string>
      <string>seven.circled</string>
      <string>eight.circled</string>
      <string>nine.circled</string>
      <string>zero.start</string>
      <string>one.start</string>
      <string>two.start</string>
      <string>three.start</string>
      <string>four.start</string>
      <string>five.start</string>
      <string>six.start</string>
      <string>seven.start</string>
      <string>eight.start</string>
      <string>nine.start</string>
      <string>zero.mid</string>
      <string>one.mid</string>
      <string>two.mid</string>
      <string>three.mid</string>
      <string>four.mid</string>
      <string>five.mid</string>
      <string>six.mid</string>
      <string>seven.mid</string>
      <string>eight.mid</string>
      <string>nine.mid</string>
      <string>zero.end</string>
      <string>one.end</string>
      <string>two.end</string>
      <string>three.end</string>
      <string>four.end</string>
      <string>five.end</string>
      <string>six.end</string>
      <string>seven.end</string>
      <string>eight.end</string>
      <string>nine.end</string>
    </array>
  </dict>
</plist>
