<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.circled</key>
    <string>eight.circled.glif</string>
    <key>eight.end</key>
    <string>eight.end.glif</string>
    <key>eight.mid</key>
    <string>eight.mid.glif</string>
    <key>eight.start</key>
    <string>eight.start.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.circled</key>
    <string>five.circled.glif</string>
    <key>five.end</key>
    <string>five.end.glif</string>
    <key>five.mid</key>
    <string>five.mid.glif</string>
    <key>five.start</key>
    <string>five.start.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.circled</key>
    <string>four.circled.glif</string>
    <key>four.end</key>
    <string>four.end.glif</string>
    <key>four.mid</key>
    <string>four.mid.glif</string>
    <key>four.start</key>
    <string>four.start.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.circled</key>
    <string>nine.circled.glif</string>
    <key>nine.end</key>
    <string>nine.end.glif</string>
    <key>nine.mid</key>
    <string>nine.mid.glif</string>
    <key>nine.start</key>
    <string>nine.start.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.circled</key>
    <string>one.circled.glif</string>
    <key>one.end</key>
    <string>one.end.glif</string>
    <key>one.mid</key>
    <string>one.mid.glif</string>
    <key>one.start</key>
    <string>one.start.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.circled</key>
    <string>seven.circled.glif</string>
    <key>seven.end</key>
    <string>seven.end.glif</string>
    <key>seven.mid</key>
    <string>seven.mid.glif</string>
    <key>seven.start</key>
    <string>seven.start.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.circled</key>
    <string>six.circled.glif</string>
    <key>six.end</key>
    <string>six.end.glif</string>
    <key>six.mid</key>
    <string>six.mid.glif</string>
    <key>six.start</key>
    <string>six.start.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.circled</key>
    <string>three.circled.glif</string>
    <key>three.end</key>
    <string>three.end.glif</string>
    <key>three.mid</key>
    <string>three.mid.glif</string>
    <key>three.start</key>
    <string>three.start.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.circled</key>
    <string>two.circled.glif</string>
    <key>two.end</key>
    <string>two.end.glif</string>
    <key>two.mid</key>
    <string>two.mid.glif</string>
    <key>two.start</key>
    <string>two.start.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.circled</key>
    <string>zero.circled.glif</string>
    <key>zero.end</key>
    <string>zero.end.glif</string>
    <key>zero.mid</key>
    <string>zero.mid.glif</string>
    <key>zero.start</key>
    <string>zero.start.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
  </dict>
</plist>
